<mat-card appearance="raised" class="product-card">
  <img
    [src]="product.pictureUrl"
    alt="Image of {{ product.name }}"
    class="product-image"
    routerLink="/shop/{{ product.id }}"
  />
  <mat-card-content class="product-details">
    <h2 class="product-name" routerLink="/shop/{{ product.id }}">
      {{ product.name }}
    </h2>
    <p class="product-price">{{ product.price | currency }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button class="add-to-cart-button">
      <mat-icon>add_shopping_cart</mat-icon>
      Add to cart
    </button>
  </mat-card-actions>
</mat-card>
