<header class="header shadow-md">
  <div class="container">
    <img routerLink="/" src="images/logo.svg" alt="app logo" class="logo" />
    <nav class="nav">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="actions">
      <a matBadge="5" matBadgeSize="large" class="cart">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-stroked-button>Login</button>
      <button mat-stroked-button>Register</button>
    </div>
  </div>
</header>
