<header class="header shadow-md bg-white">
  <div class="container">
    <img routerLink="/" src="images/logo.png" alt="app logo" class="logo" />
    <nav class="nav">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="actions">
      <a
        routerLink="/cart"
        routerLinkActive="active"
        [matBadge]="cartService.itemCount()"
        matBadgeSize="large"
        class="cart"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>
      @if (accountService.currentUser()) {
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
        <span>{{ accountService.currentUser()?.email }}</span>
      </button>
      } @else {
      <button mat-stroked-button routerLink="/account/login">Login</button>
      <button mat-stroked-button routerLink="/account/register">
        Register
      </button>
      }
    </div>
  </div>
</header>

@if (busyService.isLoading) {
<mat-progress-bar mode="indeterminate" class="progress-bar" />
}

<mat-menu #menu="matMenu" class="px-5">
  <button mat-menu-item routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    My Cart
  </button>
  <button mat-menu-item routerLink="/orders">
    <mat-icon>history</mat-icon>
    My Orders
  </button>
  <mat-divider />
  <button mat-menu-item (click)="logOut()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
