<div class="cart-item">
  <div class="cart-item-content">
    <a routerLink="/shop/{{ item().productId }}" class="cart-item-image">
      <img [src]="item().pictureUrl" alt="product image" />
    </a>
    <div class="cart-item-quantity-price">
      <div class="quantity-control">
        <button mat-icon-button (click)="decrementQuantity()">
          <mat-icon class="decrement-icon">remove</mat-icon>
        </button>

        <div class="item-quantity">{{ item().quantity }}</div>

        <button mat-icon-button (click)="incrementQuantity()">
          <mat-icon class="increment-icon">add</mat-icon>
        </button>
      </div>

      <div class="item-price">
        <p>{{ item().price | currency }}</p>
      </div>
    </div>

    <div class="cart-item-details">
      <a routerLink="/shop/{{ item().productId }}" class="product-name">
        {{ item().productName }}
      </a>

      <div class="cart-item-actions">
        <button mat-button color="warn" (click)="removeItemFromCart()">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
