<mat-card class="login-card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-header">
      <h1 class="login-title">Login</h1>
    </div>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Email address</mat-label>
      <input
        formControlName="email"
        type="email"
        placeholder="name@example.com"
        matInput
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        matInput
      />
    </mat-form-field>
    <button mat-flat-button type="submit" class="submit-button">Sign in</button>
  </form>
</mat-card>
